@page "/dadjokes"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using demo_blazor_swa_auth.Shared;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Cloud PSO Movember Dad Jokes 50/50</PageTitle>

<h1 class="text-label">Movember Dad Jokes</h1>

<p class="text-label">These are the jokes that have been submitted so far.</p>

@if (dadjokes == null)
{
    <p class="text-label"><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @* <th>Date Submitted</th> *@
                <th class="text-label">Joke</th>
                <th class="text-label">Submitted By</th>
                <th class="text-label">No. Of Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dadjoke in dadjokes)
            {
                <tr>
                    @* <td>@dadjoke.DateSubmitted.ToShortDateString()</td> *@
                    <td style="color: white;">@dadjoke.Joke</td>                    
                    <td style="color: white;">@dadjoke.SubmittedBy</td>
                    <td style="color: white;">@dadjoke.NoOfVotes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DadJoke[]? dadjokes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dadjokes = await Http.GetFromJsonAsync<DadJoke[]>("DadJoke");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
