@page "/"

<PageTitle>Cloud PSO "Dad Jokes 50/50" for Movember 2023</PageTitle>

<img src="images/CloudPSOMovemberBlack.png" alt="CloudPSO Dad Jokes 50/50 Movember" width="200" height="200" align="right">
<br>
<h1 class="text-label">Cloud PSO "Dad Jokes 50/50" for Movember 2023</h1>
<p style="color: white;">Welcome to the Movember Dad Jokes 50/50, the ultimate contest for pun lovers and comedy enthusiasts. You're about to join a community of people who share your passion for making others laugh and supporting a good cause. Here's how it works: you donate CAD $5 and submit your best dad joke to the website. Then, you can browse through the other jokes and vote for your favorite one. The joke with the most votes will win 50% of the total amount raised, while the other 50% will go to Movember, a charity that funds research and programs for men's health. It's a win-win situation: you get to enjoy some hilarious jokes, show off your wit, and help improve the lives of men around the world. So what are you waiting for? Sign up now and let the fun begin!</p>
<br>
<h2 class="text-label">How to Sign-Up:</h2>
<p style="color: white;">Click on the "Log in" link (top right) and then click the "Sign up now" (the link below the Sign-in button). Follow the instructions and fill in your name and choose a password to use for this site. A verification email will be sent to confirm the email address.</p>
<p style="color: white;"><b><u>PLEASE NOTE:</u></b> This is not Single Sign-On (SSO). It's not federated with Amdocs or Sourced Group domains. You can use any valid email address to sign up.</p>
<p style="color: white;"><b><u>ALSO:</u></b> Your email address will only be used for account verification and sign in. It won't be used for any other purposes and won't be stored beyond the end of Movember. This whole app will be deleted as soon as we are done (to save on Cloud spend!)</p>
<br>
<h2 class="text-label">How to Donate:</h2>
<p style="color: white;">We ask for <u>CAD $5</u> per joke. Please send donations via interac e-transfer (or via PayPal) to "carlo.garciamier@gmail.com".</p>
<p style="color: white;">If you you don't want to submit any dad jokes, but still want to donate to the cause, you can donate directly to the Cloud PSO Movember team here: <a href="https://ca.movember.com/team/2464020">https://ca.movember.com/team/2464020</a></p>
<br>
<h2 class="text-label">How to add a joke:</h2>
<p style="color: white;">Just select on the "Add Dad Joke" option to the left and then add your joke. Simple as that!</p>
<br>
<h2 class="text-label">How to vote for your favorite joke:</h2>
<p style="color: white;">Just select on the "Vote" option on the left, select your favourite and click the "Vote" button next to you favourite joke. Please note that you only get to vote once.</p>
