@page "/"

<PageTitle>Cloud PSO "Dad Jokes 50/50" for Movember 2023</PageTitle>

<img src="images/CloudPSOMovemberBlack.png" alt="CloudPSO Dad Jokes 50/50 Movember" width="200" height="200" align="right">
<br>
<h1 class="text-label">Cloud PSO "Dad Jokes 50/50" for Movember 2023</h1>
<p style="color: white;">Welcome to the Movember Dad Jokes 50/50, the ultimate contest for pun lovers and comedy enthusiasts. You're about to join a community of people who share your passion for making others laugh and supporting a good cause.</p>
<p style="color: white;">Here's how it works: you donate CAD $5 (per joke) and submit your best dad jokes to this website. Then, you can browse through the other jokes and vote for your favorite one. The joke with the most votes will win 50% of the total amount raised, while the other 50% will go to Movember, a charity that funds research and programs for men's health. It's a win-win situation: you get to enjoy some hilarious jokes, show off your wit, and help improve the lives of men around the world. So, what are you waiting for? Sign up now and let the fun begin!</p>
<br>
<h2 class="text-label">How to Sign-Up:</h2>
<p style="color: white;">Click on the "Log in" link (top right) and then click the "Sign up now" (the link below the Sign-in button). Follow the instructions and fill in your name and choose a password to use for this site. A verification email will be sent to confirm the email address.</p>
<p style="color: white;"><b><u>PLEASE NOTE:</u></b> This is not Single Sign-On (SSO). It's not federated with Amdocs or Sourced Group domains. You can use any valid email address to sign up.</p>
<p style="color: white;"><b><u>ALSO NOTE:</u></b> Your email address will only be used for account verification and sign in. It won't be used for any other purposes and won't be stored beyond the end of Movember. This whole app will be deleted as soon as we are done (to save on Cloud spend!)</p>
<br>
<h2 class="text-label">How to Donate:</h2>
<p style="color: white;">We ask for <u>CAD $5</u> per joke. Please send donations via interac e-transfer (or via PayPal) to "carlo.garciamier@gmail.com".</p>
<p style="color: white;">If you don't want to submit any dad jokes, but still want to donate to the cause, you can donate directly to the Cloud PSO Movember team here: <a href="https://ca.movember.com/team/2464020">https://ca.movember.com/team/2464020</a></p>
<br>
<h2 class="text-label">How to add a joke:</h2>
<p style="color: white;">UPDATE (2023-11-30): No more dad jokes are being accepted. Thank you for taking part.</p>
@* <p style="color: white;">After you have signed up or logged in, just select on the "Add Dad Joke" option to the left and then add your joke. Simple as that!</p>
<p style="color: white;">Just select on the "Add Dad Joke" option to the left and then add your joke. Simple as that!</p> *@
<br>
<h2 class="text-label">How to vote for your favorite joke:</h2>
<p style="color: white;">Just select on the "Vote" option on the left, select your favourite and click the "Vote" button next to you favourite joke. Please note that you only get to vote once.</p>
<p style="color: white;">Don't vote right away, give it some time for more jokes to roll in and set a reminder to check out all the jokes the last day (November 30th). You can make you choice then. If you want to cancel or change your vote, please contact Carlo (see contact details further below).</p>
<br>
<h2 class="text-label">Questions?</h2>
<p style="color: white;">If you have any questions, please contact Carlo at "carlo.garcia-mier@sourcedgroup.com"</p>
<p style="color: white;">Good luck and have fun!</p>
<p style="color: white;">Oh, and one last thing ...</p><p style="text-label-b"><u><b>make it amazing!</b></u></p>
<br>
<br>
<b class="text-label">The "fine print":</b>
<p style="color: white;">Please don't forget to donate! Any jokes that have been added without a donation received will be disqualified. Please contact Carlo for exceptions of if you encounter any issues.</p>
<p style="color: white;">The winner will be announced on December 1st, 2023. The winner will be contacted via email and will be asked to provide their preferred method of payment. The winner will have 30 days to claim their prize. If the prize is not claimed within 30 days, the full prize will be donated to Movember.</p>
